/* display.html styles */

body {
  display: flex;
  flex-direction: column;
  font-size: 200%;
  height: 100vh;
}

body:fullscreen,
body:-moz-full-screen,
body:-webkit-full-screen {
  background-color: blue;
}

body[data-color="r"] main {
  --theme-color: var(--app-red);
}

body[data-color="o"] main {
  --theme-color: var(--app-orange);
  --text-on-theme-elements: 0, 0%, 0%;
}

body[data-color="y"] main {
  --theme-color: var(--app-yellow);
  --text-on-theme-elements: 0, 0%, 0%;
}

body[data-color="g"] main {
  --theme-color: var(--app-green);
  --text-on-theme-elements: 0, 0%, 0%;
}

body[data-color="b"] main {
  --theme-color: var(--app-blue);
}

body[data-color="p"] main {
  --theme-color: var(--app-purple);
}

body[data-state="done"] main {
  --theme-color: var(--gray200);
  --text-on-theme-elements: 0, 0%, 0% ;
}

main {
  --theme-color: var(--gray800);
  --text-on-theme-elements: 0, 0%, 100%;
  --text-on-theme: hsl(var(--text-on-theme-elements));
  background-color: var(--theme-color);
  color: var(--text-on-theme);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2rem;
  transition: background-color 1s ease-out, border-color 1s ease-out, color 1s ease-out;
}

main > * + * {
  margin-top: 2rem;
}

#display {
  font-feature-settings: "tnum";
  font-size: 10rem;
  font-variant-numeric: tabular-nums;
  font-weight: bold;
  text-align: center;
}

#rotations-list {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
}
#rotations-list li {
  border-radius: var(--border-radius);
  padding: 0.25rem 0.5rem;
}

#rotations-list li + li {
  margin-left: 1rem;
}

#rotations-list li[aria-current="true"] {
  background-color: var(--text-on-theme);
  color: var(--theme-color);
  font-weight: bold;
}

#note {
  border: 2px solid var(--text-on-theme);
  border-radius: var(--border-radius);
  padding: 2rem;
  flex-grow: 1;
}

#note > *:first-child {
  margin-top: 0;
}

#note > *:last-child {
  margin-bottom: 0;
}

.button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container button {
  background-color: var(--text-on-theme);
  color: var(--theme-color);
  font-size: 150%;
  margin-bottom: 1rem;
  min-width: 25%;
}

#edit {
  color: var(--text-on-theme);
}

/* .button-container button, */
.fullscreen-button {
  background: transparent;
  border: 2px solid var(--text-on-theme);
  color: var(--text-on-theme);
}

.fullscreen-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.running-indicator {
  --dimension: 2rem;
  background-color: var(--text-on-theme);
  border-radius: var(--dimension);
  height: var(--dimension);
  left: 2rem;
  opacity: 0.5;
  position: absolute;
  top: 2rem;
  transition: all 200ms ease-out;
  width: var(--dimension);
}

body[data-running] .running-indicator {
  animation: pulse 1s ease-out infinite;
  opacity: 1;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 hsla(var(--text-on-theme-elements), 50%);
  }
  80% {
    box-shadow: 0 0 0 2rem hsla(var(--text-on-theme-elements), 0%);
  }
}
