/* Application styles */

:root {
    --app-blue: hsl(216, 72%, 40%);
    --app-red: hsl(8, 72%, 40%);
}

body[data-state] {
    color: white;
}

body[data-state="transition"] {
  background-color: var(--gray800);
}

body[data-color="blue"],
body[data-color="b"] {
    background-color: var(--app-blue);
}

body[data-color="red"],
body[data-color="r"] {
    background-color: var(--app-red)
}

#rotations li[aria-current="true"] {
    background: white;
    color: black;
}
