/* Application styles */

:root {
  --app-blue: hsl(216, 72%, 40%);
  --app-red: hsl(8, 72%, 40%);

  --page-background: white;
}

.rotations-heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.rotations-heading .button {
  font-size: 1rem;
}

.rotation {
  border: 2px solid hsla(0, 0%, 0%, 16%);
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  padding: 0.5rem;
  position: relative;
}

.rotation .field {
  display: flex;
}

.rotation .field > * + * {
  margin-left: 1rem;
}

.rotation .field b {
  margin-right: 0.5rem;
}

.rotation .button {
  margin-left: auto;
}

ol#rotations {
  counter-reset: rotation;
  list-style-type: none;
  margin-top: 2rem;
  padding: 0;
}

.rotation::before {
  background-color: var(--gray900);
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
  counter-increment: rotation;
  content: "ROTATION " counter(rotation);
  color: white;
  display: block;
  font-size: 0.8em;
  font-weight: bold;
  letter-spacing: 1px;
  position: absolute;
  padding: 0.25rem 0.5rem;
  left: -2px;
  bottom: 100%;
}

.rotation + .rotation {
  margin-top: 2rem;
}
