/* Application styles */

:root {
  --app-red: hsl(8, 72%, 40%);
  --app-orange: hsl(32, 80%, 48%);
  --app-yellow: hsl(50, 96%, 48%);
  --app-green: hsl(104, 64%, 48%);
  --app-blue: hsl(216, 72%, 40%);
  --app-purple: hsl(264, 72%, 40%);

  --page-background: white;
}

textarea {
  resize: vertical;
}

.field {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 2rem;
}

.rotations-heading {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.rotations-heading .button {
  font-size: 1rem;
}

.rotation .button {
  margin-left: auto;
}

#rotations-table {
  counter-reset: rotation;
  text-align: center;
}

table tr {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

table thead tr::before {
  content: 'Rotation';
  display: block;
  text-align: center;
}

.rotation::before {
  counter-increment: rotation;
  content: "Rotation " counter(rotation);
  display: block;
  padding: 0.25rem 0.5rem;
}

.buttons-container {
  margin-top: 2rem;
}
